doctype html
html
  head
    title= titulo
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/custom.css')

  body
  div.title_div
    h1.title_div= titulo

  div.inq_info
    p.inq_p UnitID: #{genere._id}
    p.inq_p Description Level: #{genere.DescriptionLevel}
    p.inq_p Entity Type: #{genere.EntityType}
    p.inq_p Complete Unit ID: #{genere.CompleteUnitId}
    p.inq_p Repository Code: #{genere.RepositoryCode}
    p.inq_p Country Code: #{genere.CountryCode}
    p.inq_p Title Type: #{genere.UnitTitleType}
    p.inq_p Title: #{genere.UnitTitle}
    p.inq_p Alternative Title: #{genere.AlternativeTitle}
    p.inq_p Normalized Forms Name: #{genere.NormalizedFormsName}
    p.inq_p Other Forms Name: #{genere.OtherFormsName}
    p.inq_p Initial Date: #{genere.UnitDateInitial}
    p.inq_p Final Date: #{genere.UnitDateFinal}
    p.inq_p Initial Date Certainty: #{genere.UnitDateInitialCertainty}
    p.inq_p Final Date Certainty: #{genere.UnitDateFinalCertainty}
    p.inq_p Allow Unit Dates Inference: #{genere.AllowUnitDatesInference}
    p.inq_p Accumulation Dates: #{genere.AccumulationDates}
    p.inq_p Unit Date Bulk: #{genere.UnitDateBulk}
    p.inq_p Unit Date Notes: #{genere.UnitDateNotes}
    p.inq_p Dimensions: #{genere.Dimensions}
    p.inq_p Allow Extents Inference: #{genere.AllowExtentsInference}
    p.inq_p Repository: #{genere.Repository}
    p.inq_p Producer: #{genere.Producer}
    p.inq_p Author: #{genere.Author}
    p.inq_p Material Author: #{genere.MaterialAuthor}
    p.inq_p Contributor: #{genere.Contributor}
    p.inq_p Recipient: #{genere.Recipient}
    p.inq_p Biographical History: #{genere.BiogHist}
    p.inq_p Legal Status: #{genere.LegalStatus}
    p.inq_p Functions: #{genere.Functions}
    p.inq_p Authorities: #{genere.Authorities}
    p.inq_p Internal Structure: #{genere.InternalStructure}
    p.inq_p General Context: #{genere.GeneralContext}
    p.inq_p Custodial History: #{genere.CustodHist}
    p.inq_p Acquisition Information: #{genere.AcqInfo}
    p.inq_p Classifier: #{genere.Classifier}
    p.inq_p Scope and Content: #{genere.ScopeContent}
    p.inq_p Terms: #{genere.Terms}
    p.inq_p Documental Tradition: #{genere.DocumentalTradition}
    p.inq_p Documental Typology: #{genere.DocumentalTypology}
    p.inq_p Marks: #{genere.Marks}
    p.inq_p Monograms: #{genere.Monograms}
    p.inq_p Stamps: #{genere.Stamps}
    p.inq_p Inscriptions: #{genere.Inscriptions}
    p.inq_p Signatures: #{genere.Signatures}
    p.inq_p Appraisal: #{genere.Appraisal}
    p.inq_p Appraisal Elimination: #{genere.AppraisalElimination}
    p.inq_p Appraisal Elimination Date: #{genere.AppraisalEliminationDate}
    p.inq_p Accruals: #{genere.Accruals}
    p.inq_p Arrangement: #{genere.Arrangement}
    p.inq_p Access Restrictions: #{genere.AccessRestrict}
    p.inq_p Use Restrictions: #{genere.UseRestrict}
    p.inq_p Physical Location: #{genere.PhysLoc}
    p.inq_p Original Numbering: #{genere.OriginalNumbering}
    p.inq_p Previous Location: #{genere.PreviousLoc}
    p.inq_p Language of Material: #{genere.LangMaterial}
    p.inq_p Physical Technical: #{genere.PhysTech}
    p.inq_p Other Finding Aid: #{genere.OtherFindAid}
    p.inq_p Container Type Term: #{genere.ContainerTypeTerm}
    p.inq_p Originals Location: #{genere.OriginalsLoc}
    p.inq_p Alternative Form Available: #{genere.AltFormAvail}
    p.inq_p Related Material: #{genere.RelatedMaterial}
    p.inq_p Note: #{genere.Note}
    p.inq_p Allow Textual Content Inference: #{genere.AllowTextualContentInference}
    p.inq_p Textual Content: #{genere.TextualContent}
    p.inq_p Retention Disposal Document State: #{genere.RetentionDisposalDocumentState}
    p.inq_p Apply Selection Table: #{genere.ApplySelectionTable}
    p.inq_p Retention Disposal Policy: #{genere.RetentionDisposalPolicy}
    p.inq_p Retention Disposal Reference: #{genere.RetentionDisposalReference}
    p.inq_p Retention Disposal Classification: #{genere.RetentionDisposalClassification}
    p.inq_p Retention Disposal Period: #{genere.RetentionDisposalPeriod}
    p.inq_p Retention Disposal Apply Date: #{genere.RetentionDisposalApplyDate}
    p.inq_p Retention Disposal Final Destination: #{genere.RetentionDisposalFinalDestination}
    p.inq_p Retention Disposal Observations: #{genere.RetentionDisposalObservations}
    p.inq_p Description Rules: #{genere.DescRules}
    p.inq_p Revised: #{genere.Revised}
    p.inq_p Published: #{genere.Published}
    p.inq_p Available: #{genere.Available}
    p.inq_p Highlighted: #{genere.Highlighted}
    p.inq_p Creator: #{genere.Creator}
    p.inq_p Created: #{genere.Created}
    p.inq_p Username: #{genere.Username}
    p.inq_p Process Information Date: #{genere.ProcessInfoDate}
    p.inq_p Other Descriptive Data: #{genere.OtherDescriptiveData}
    p.inq_p Process Information: #{genere.ProcessInfo}
    p.inq_p Father: #{genere.Father}
    p.inq_p Mother: #{genere.Mother}
    p.inq_p Name: #{genere.Name}
    p.inq_p Location: #{genere.Lugar}
    p.inq_p County: #{genere.Concelho}
    p.inq_p District: #{genere.Distrito}
    if genere.Relationships && genere.Relationships.length > 0
      h2 Relationships
      each rel in genere.Relationships
        div.w3-panel.w3-border
          p.inq_p UnitID: 
            a(href=`/${rel._id}`) #{rel._id}
          p.inq_p Relation: #{rel.Relationship}

  // Posts
  if genere.posts && genere.posts.length > 0
    each post in genere.posts
      div.post_div
        p.p_user User #{post.UserId} just posted:
        h2.post_title= post.PostTitle
        p.post_text= post.PostText
        
        // Comments Section
        if post.Comments.length > 0
          h3 Comments:
          each comment in post.Comments
            div.comment_div
              p.comment User #{comment.UserId}: #{comment.CommentText}
        else
          .w3-container
            p.no_comments No comments yet

        // Form to add a new comment
        form(action=`/posts/${post._id}/add-comment`, method="POST")
          input.comment_input(type="text", name="CommentText", required=true, placeholder="Write your comment here...")
          input(type="hidden", name="_id", value="defaultCommentId")  
          input(type="hidden", name="UserId", value="defaultUserId")  
          input.comment_button(type="submit", value="Add Comment")
          // CHANGE REDIRECT
          
          

  // Right spacer column
  div.return_div
    a.return_button(href="/") Return to Main Page

  footer
    address Generated by Grupo12::EngWeb2024 on #{data}



